<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/output.css') }}" />
    <title> WSA Scraper </title>
</head>

<body class="text-center px-8 py-8">
    <h1 class="text-4xl text-red-700">Error 404</h1>
    <p class="pt-4">Page not found. Come back to <a href="/" class="text-violet-700 underline">main page</a>.</p>
</body>

</html>